In [4]:
import pandas as pd

df1=pd.DataFrame({'id':[1,2,3],'name':['Sam','Cris','Leya']})
df2=pd.DataFrame({'id':[2,3,4],'age':[26,30,21]})

In [6]:
left_join=pd.merge(df1,df2,on='id',how='left')
print(left_join)

   id  name   age
0   1   Sam   NaN
1   2  Cris  26.0
2   3  Leya  30.0

In [5]:
inner_join=pd.merge(df1,df2,on='id')
print(inner_join)

   id  name  age
0   2  Cris   26
1   3  Leya   30

In [7]:
right_join=pd.merge(df1,df2,on='id',how='right')
print(right_join)

   id  name  age
0   2  Cris   26
1   3  Leya   30
2   4   NaN   21

In [8]:
outer_join=pd.merge(df1,df2,on='id',how='outer')
print(outer_join)

   id  name   age
0   1   Sam   NaN
1   2  Cris  26.0
2   3  Leya  30.0
3   4   NaN  21.0